
<!DOCTYPE html>

<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Terminal - {{title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
    <link href="css/examples.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
    <link href="vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    <style>
        .dataTables_scrollBody table {
    margin-left:0px !important;
    width: 100% !important;
}


.led-box {
    align-items: center;
    text-align: center;
  height: 30px;
  width: 100%;

}
#det{
    display: none;
}
.toggle.btn{
    min-width: 50%;

}
.toggle-group label{
    font-weight: bolder;
    color:#fff;
    margin-top:0px;
}
.led-red {
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  
}


.led-green {
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}


    </style>
  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex" style="overflow: hidden;">
       <img class="sidebar-brand-full" src="/assets/img/nsp-white.png" style="width:200px">
       <img class="sidebar-brand-narrow" src="/assets/img/nsp-white-narrow.png" style="width: 40px;">
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        {% if "root" in user['type'] %}
        <li class="nav-item active"><a class="nav-link" href="./">
            Dashboard</a></li>
        <li class="nav-title">Operations</li>      
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-building"></use>
            </svg> Sites</a>
          <ul class="nav-group-items">
            <li class="nav-item"><a class="nav-link" href="./sites"><span class="nav-icon"></span>All Sites</a></li>
            <li class="nav-item"><a class="nav-link" href="./new-site"><span class="nav-icon"></span> New Site</a></li> 
            <li class="nav-item"><a class="nav-link" href="./delete-site"><span class="nav-icon"></span> Delete Site</a></li>  
          </ul>
        </li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
          </svg> Clients</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="./clients-list"><span class="nav-icon"></span>Clients List</a></li>
          
        </ul>
        
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
        <svg class="nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cash"></use>
        </svg> Transactions</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="./all-transactions"><span class="nav-icon"></span>All Transactions</a></li>
        <li class="nav-item"><a class="nav-link" href="./pending-transactions"><span class="nav-icon"></span>Pending Transactions</a></li>
        <li class="nav-item"><a class="nav-link" href="./site-transactions"><span class="nav-icon"></span>Site Wise Transaction</a></li>
        <li class="nav-item"><a class="nav-link" href="./search-transactions"><span class="nav-icon"></span>Search Transactions</a></li>
      </ul>
      
    </li>
    <li class="nav-item"><a class="nav-link " href="./all-vouchers">
        <svg class="nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
        </svg> Vouchers</a>
      
    </li>
       
    <li class="nav-item"><a class="nav-link active " href="./terminals">
      <svg class="nav-icon">
        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
      </svg> Terminals</a>
    
  </li>  
       {% else %}
       <li class="nav-item"><a class="nav-link active " href="./terminals">
        <svg class="nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
        </svg> Terminals</a>
      
    </li>  
       {%endif%}
       
      
        
 
   
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    <div class="wrapper d-flex flex-column min-vh-100 bg-white">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
          </button><a class="header-brand d-md-none" href="./">
            <img class="sidebar-brand-full" src="/assets/img/nsp-logo-full.jpeg" style="width:118px;height:46;">
           </a>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="./">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="./clients">Users</a></li>
          </ul>
          <ul class="header-nav ms-auto"> <li class="nav-itme">
            <svg class="icon me-2">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-clock"></use>
            </svg>
            <span id="dt"></span>
          </li></ul>
          <ul class="header-nav ms-3">
            <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-md">
                  <img class="avatar-img" src="assets/img/avatars/user-profile.png" alt="user@email.com">
                  
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end pt-0">
                <div class="dropdown-header bg-light py-2">
                  <div class="fw-semibold">Account</div>
                </div>
               <a class="dropdown-item" href="./profile">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                  </svg> Profile</a>
               <a class="dropdown-item" href="./logout">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                  </svg> Logout</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
              <li class="breadcrumb-item active">
                <!-- if breadcrumb is single--><span>Terminal</span>
              </li>
          
            </ol>
          </nav>
        </div>
      </header>
      <div class="body flex-grow-1 px-3 bg-white">
        <div class="container-lg bg-white" id="det">
      
          <!-- /.row-->
            <div class="row justify-content-center">
                <div class="card shadow-lg p-2 col-lg-5 col-sm-12 col-md-6 bg-light border-0">
                  
                        <h2 class="fw-bold justify-content-center mt-3 text-dark row text-center">Terminal</h2>
                        <div class="row">
                            
                            <div class="form-group col-12">
                                <label class="fw-bold text-info">Serial</label>
                                <label class="form-control fw-bold" >{{terminal['TID']}}</label>                        
                            </div>
                        </div>  
                        <div class="row mt-1">
                            <h3 class="fw-bold text-dark">Site Detail</h3>
                            <div class="form-group col-6 p-4 col-md-6 col-sm-12">
                                <label class="fw-bold text-info">Site Code</label>
                                <label class="form-control fw-bold" >{{terminal['site']['code']}}</label>
                            </div>
                            <div class="form-group col-6 p-4 col-md-6 col-sm-12">
                                <label class="fw-bold text-info">Site Name</label>
                                <label class="form-control fw-bold" >{{terminal['site']['name']}}</label>
                            </div>
                        </div>  
                        <div class="row mt-1">
                            <h3 class="fw-bold text-dark">Configuration</h3>
                            <div class="form-group col-6 p-4 col-md-6 col-sm-12">
                                <label class="fw-bold text-info">Status  </label>
                                <center>
                                    {% if "on" in terminal['config']['status'] %}
                                    <div class="led-box">                   
                                     <div class="led-green"></div>                          
                                   </div>
                                   {% else %}
                                   <div class="led-box">
                                     <div class="led-red"></div>
                                   </div>
                                     {% endif %}                                     
                                 </center>
                               
                              
                            </div>
                            <div class="form-group col-6 p-4 col-md-6 col-sm-12">
                                <label class="fw-bold text-info">Stacker <i>({{remaining_space}})</i></label>
                                <center>
                                    {% if "Full" in terminal['config']['stacker'] %}
                                    <div class="led-box">
                                     
                                     <div class="led-red"></div>
                                
                                   </div>
                                   {% else %}
                                   <div class="led-box">
                                     <div class="led-green"></div>
                                   </div>
                                     {% endif %}
                                       
                                 </center>
                            </div>



                        </div> 
                     
                    <form class="col-md-12 form" action="/terminal/{{terminal['TID']}}" method="POST" >
                        
                        <div class="row justify-content-center">
                            <div class="p-2 form-group col-lg-7 col-sm-4 col-md-7" >
                            {% if "on" in terminal['config']['status'] %}
                            <input class="form-control" name="status" id="st" type="checkbox" checked  style="width:100% !important"  data-toggle="toggle" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger">          
                            {% else %}
                            <input class="form-control" name="status" id="st" type="checkbox"   style="width:100% !important"  data-toggle="toggle" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger">          
                            {%endif%}
                        </div>
                        <div class="p-2 form-group col-lg-2 col-sm-4 col-md-2" >
                           <input class="btn btn-info fw-bold text-light" type="submit" value="Apply">
                        </div>
                            
                       
                    </div>
                        
                    </form>
                    <div class="row mt-1">
                      <h3 class="fw-bold text-dark">Counters </h3>
                      
                       
                            <table class="table p-4  col-12">
                                <tr class="p-4">
                                  <td class="h5 text-info fw-bold">5 AED</td>
                                  <td  class="h5  text-dark fw-bold">{{terminal['config']['counter']['5']}}</td>
                                </tr>
                                <tr class="p-4">
                                  <td class="h5 text-info fw-bold">10 AED</td>
                                  <td  class="h5  text-dark fw-bold">{{terminal['config']['counter']['10']}}</td>
                                </tr>
                                <tr class="p-4">
                                  <td class="h5 h4 text-info fw-bold">20 AED</td>
                                  <td  class="h5  text-dark fw-bold">{{terminal['config']['counter']['20']}}</td>
                                </tr>
                                <tr class="p-4">
                                  <td class="h5 text-info fw-bold">50 AED</td>
                                  <td  class="h5 text-dark fw-bold">{{terminal['config']['counter']['50']}}</td>
                                </tr>
                                <tr class="p-4">
                                  <td class="h5 text-info fw-bold">100 AED</td>
                                  <td  class="h5  text-dark fw-bold">{{terminal['config']['counter']['100']}}</td>
                                </tr>
                                <tr class="p-4">
                                  <td class="h5 text-info fw-bold">200 AED</td>
                                  <td  class="h5  text-dark fw-bold">{{terminal['config']['counter']['200']}}</td>
                                </tr>
                                <tr class="p-4">
                                  <td class="h5 text-info fw-bold">500 AED</td>
                                  <td  class="h5  text-dark fw-bold">{{terminal['config']['counter']['500']}}</td>
                                </tr>
                            </table>
               
                    </div>
                   <div class="row mt-2 ">
                    <h3 class="fw-bold text-dark">Logs <button class="btn-danger btn fw-bold text-light float-end d-none d-lg-block" onclick="printDiv('lg')">Print</button></h3>
                 </div>
                 <div class="row" style="height:300px !important;overflow-y: auto;">
                 <table id="lg" class="table p-1"  border="1" cellspacing="0" cellpadding="1">
                  {% for  l in logs %}
                  <tr>
                    <td>[{{l["date"]}} {{l["time"]}}]  {{l["log"]}}</td>
                  </tr>
                  {%endfor%}
                 </table>
                  
                </div>
                </div>
            </div>
          
          <!-- /.card.mb-4-->
        
          <!-- /.row-->
         
          <!-- /.row-->
        </div>
      </div>
      <footer class="footer">
        <div><a href="/">Non Stop Payments Providers LLC. </a> © 2022-2032</div>
      </footer>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="vendors/chart.js/js/chart.min.js"></script>
    <script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
    <Script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0/dist/chartjs-plugin-streaming.min.js"></Script>
    <script src="js/main.js"></script>
    <script>

function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
        $(document).ready(function(){
            setTimeout(function(){
                $("#det").show()
            },1000)

            $("#tb").DataTable({
                processing: true,
       
        scrollX: true,
    })
        })
    </script>

  </body>
</html>